    <link rel="stylesheet" href="/assets/css/style.css">

  <!-- Chargement de Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <!-- Carte de restaurant 1 -->
      {% for restaurant in restaurants %}
      <div class=" cardRestaurant col-sm-6 col-md-4">
        <div class="card">
          <img class="card-img-top" src="/assets/images/img.jpg" alt="Image de restaurant 1">
          <div class="card-body">
            <h2 class="card-title">{{restaurant.name}}</h2>
            <p class="card-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
              </svg> {{restaurant.location}}</p>
            <p class="card-text">{{restaurant.description}} :</p>
            <p class="card-text">Prix moyen : {{restaurant.price}}</p>
            <div class="button">

              <a href="#" class="btn btn-primary">En savoir plus</a>
              <a href="#" class="btn btn-primary">Reserver</a>
          </div>
          </div>
          </div>
      </div>
        {% endfor %}
        </div>
      </div>
  <!-- Chargement de jQuery et de Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.

  