{% extends 'layout.html.twig' %}

{% block content %}
    <section class="header p-0 m-0 z-2 position-relative">
        <div class="header-image h-100 w-100  d-flex justify-content-center align-items-center" >
            <div class="dropdown ">
                <button class="btn-dropdown dropdown-toggle border border-3 rounded-pill p-3 d-flex justify-content-center " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                SELECT A CITY 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for city in citys %}
                        <li><a class="dropdown-item" href="/city?id={{ city.id }}">{{ city.name }}</a></li>
                    {% else %}
                        <li>No city</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
