{% extends 'layout.html.twig' %}

{% block content %}
        
    <section class="header p-0 m-0 z-2 position-relative">
        <div class="header-image h-100 w-100  d-flex justify-content-center align-items-center" >
            <div class="dropdown ">
                <button class="btn-dropdown dropdown-toggle border border-3 rounded-pill p-3 d-flex justify-content-center " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                SELECT A CITY 
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for city in citys %}
                        <li><a class="dropdown-item" href="/city?id={{ city.id }}">{{ city.name }}</a></li>
                    {% else %}
                        <li>No city</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <ul class="nav nav-tabs nav-justified mt-4 mb-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab-pane-picture" type="button" role="tab" aria-controls="tab-pane-picture" aria-selected="true">Restaurants</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tab-pane-favorite" type="button" role="tab" aria-controls="tab-pane-favorite" aria-selected="false">Activities</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#tab-pane-follows" type="button" role="tab" aria-controls="tab-pane-follows" aria-selected="false">Transport</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-pane-picture" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            {% include "cards/cardRestaurant.html.twig" %}
        </div>
        <div class="tab-pane fade" id="tab-pane-favorite" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            {% include "cards/cardActivity.html.twig" %}
        </div>
        <div class="tab-pane fade" id="tab-pane-follows" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            {% include "cards/cardRestaurant.html.twig" %}
        </div>
    </div>
{% block javascript %}<script src="/assets/js/script.js"></script>{% endblock %}
{% endblock %}
