:root {
    /* fonts ------------*/
    --font: ;

    /* colors -----------*/

    --red-color: #B50D0D;
    --pink-color: #B73842;
    --grey-color: #383838;
    --light-color: white;
    --dark-color: black;

}

/* Navbar */

.btn-reservation {
    background-color: var(--light-color) !important;
    color: var(--red-color) !important;
    font-weight: bold !important;
    border-color: var(--red-color) !important;
    margin-right: 1.5em;
}

.logo {
    margin-left: 2em;
}

/* Header */

.header {
    height: 300px;
}

.header .header-image {
    background-image: url('/assets/images/paysage.jpg');
    background-size: cover;
}

.btn-dropdown {
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: var(--light-color);
}

.dropdown-menu {
    width: clamp(300px, 300px, 300px);
}

.header .dropdown-item {
    color: var(--primary-color);

}

.header .dropdown-item:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* Style personnalisé pour les cartes */

.card {
    margin-bottom: 30px;
    padding: 23px;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.card-title {
    margin-bottom: 0;
}

.card-text {
    font-size: 16px;
}

.button {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.container{
    padding-top: 50px;
}
.cardRestaurant{
    min-height: 200px;
}