:root {
    /* fonts ------------*/


    /* colors -----------*/

    --red-color: #B50D0D;
    --pink-color: #B73842;
    --grey-color: #383838;
    --light-color: white;
    --dark-color: black;

}

/* Navbar */

.navbar {
    background-color: white;
}

.btn-reservation {
    background-color: var(--light-color) !important;
    color: var(--red-color) !important;
    font-weight: bold !important;
    border-color: var(--red-color) !important;
    margin-right: 1.5em;
}

.logo {
    margin-left: 2em;
}


/* Homepage */

.welcome {
    color: var(--pink-color);
    white-space: nowrap;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    animation: Scroll 5s linear infinite;
    font-weight: bold;
}

@keyframes Scroll {
    0% {
        transform: translateX(-30%);
    }

    100% {
        transform: translateX(30%);
    }
}

/* Header */

.header {
    height: 100vh; /* Utilise la hauteur totale de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-image {
    background-image: url('/assets/images/paysage.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.btn-dropdown {
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: var(--light-color);
}

.dropdown-menu {
    width: clamp(300px, 300px, 300px);
}


/* Style personnalisé pour les cartes */ 
.dropdown-menu a:hover {
    background-color: white;
    color: black;
}

/* Style personnalisé pour les cartes */

.card {
    margin-bottom: 30px;
    padding: 23px;
    border: 3px solid var(--pink-color) !important;
}



.card-img-top {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.button {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.container {
    padding-top: 50px;

}

.cardRestaurant {
    min-height: 200px;

}

.btn-card {
    background-color: var(--light-color) !important;
    color: var(--pink-color);
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid var(--pink-color);
    
}

.btn-card:hover {
    text-decoration: underline;
}

.nav-link {
    color: var(--red-color) !important;
}

 
